<?xml version="1.0"?>
<model>
  <name>LMLidar</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
   <name>Irina Lavryonova</name>
   <email>irina.lavryonova@lmco.com</email>
  </author>
  
  <author>
   <name>Mario S. Prado</name>
   <email>mario.s.prado@lmco.com</email>
  </author>

  <description>
    LM-provided LiDAR model for the MIT Momentum competition
  </description>
</model>
