<?xml version="1.0"?>
<model>
  <name>3DR Iris with custom LM LiDAR</name>
  <version>1.0</version>
  <sdf>iris_lmlidar.sdf</sdf>

  <author>
   <name>Irina Lavryonova</name>
   <email>irina.lavryonova@lmco.com</email>
  </author>
  
  <author>
   <name>Mario S. Prado</name>
   <email>mario.s.prado@lmco.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a custom LM LiDAR.
  </description>
</model>
