<?xml version="1.0"?>

<model>
  <name>Terrain2D</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
   <name>Irina Lavryonova</name>
   <email>irina.lavryonova@lmco.com</email>
  </author>
  
  <author>
   <name>Mario S. Prado</name>
   <email>mario.s.prado@lmco.com</email>
  </author>

  <description>
    Test development terrain with 2D height variability for MIT Momentum/LMC 2020 project.
  </description>
</model>
